/*
!.git/
!.gitignore
!default/
!ssh/sshd_config
!ssh/
!passwd
!shadow
!sshguard/
!sshguard/whitelist
!default/sshguard
!init.d/
!init.d/sshguard
!default/locale
!locale.gen
!locale.nopurge
!locale.alias
!scripts/
!scripts/backup.sh
!scripts/incron_config.sh
!scripts/leia_backup.sh
!incron.d/etc.conf
!incron.d
!logrotate.d/
!logrotate.d/rsyslog
!vsftpd.conf
!vsftpd.userlist
!ssl/
!ssl/private/
!ssl/private/vsftpd.pem
!ssl/certs/
!ssl/openssl.cnf
!sudoers
!sudoers.d/
!apt/
!apt/apt.conf.d/
!apt/apt.conf.d/50unattended-upgrades
!apt/apt.conf.d/20auto-upgrades
!network/
!network/if-up.d/
!network/if-up.d/add-my-static-arp
!network/interfaces
!ntp.conf
!iptables/
!iptables/rules.v4
!iptables/rules.v6
!bind/
!bind/named.conf
!bind/named.conf.local
!bind/named.conf.options
!bind/zones/
!bind/zones/.template.db.zone
!bind/.addzone.named.conf.local
!apache2/
!apache2/apache2.conf
!scripts/http_add_vhost.sh
!letsencrypt/
!sysctl.conf
