/*
!.git/
!.gitignore
!default/
!default/ufw
!ufw/
!ssh/sshd_config
!ssh/
!passwd
!shadow
!sshguard/
!sshguard/whitelist
!default/sshguard
!init.d/
!init.d/sshguard
!default/locale
!locale.gen
!locale.nopurge
!locale.alias
!scripts/
!scripts/backup.sh
!scripts/incron_config.sh
!incron.d/etc.conf
!incron.d
!logrotate.d/
!logrotate.d/rsyslog
!vsftpd.conf
!vsftpd.userlist
!ssl/
!ssl/private/
!ssl/private/vsftpd.pem
!ssl/certs/
!ssl/openssl.cnf
!sudoers
!sudoers.d/
!apt/
!apt/apt.conf.d/
!apt/apt.conf.d/50unattended-upgrades
!apt/apt.conf.d/20auto-upgrades
!network/
!network/if-up.d/
!network/if-up.d/static-arp
!ntp.conf
